output HEADLESS-1 mode 2560x1440@144Hz position 0,0

default_border none
default_floating_border none
hide_edge_borders both
focus_follows_mouse no
focus_on_window_activation focus

exec env -u MESA_VK_DEVICE_SELECT \
         -u __NV_PRIME_RENDER_OFFLOAD \
         -u __VK_LAYER_NV_optimus \
         -u __GLX_VENDOR_LIBRARY_NAME \
         sunshine > "$XDG_RUNTIME_DIR/sunshine.log" 2>&1
exec steam -pipewire
