[D-BUS Service]
Name=org.freedesktop.impl.portal.desktop.wlr
Exec=/home/bolu/Repositories/steam-headless/ext/xdg-desktop-portal-wlr/build/xdg-desktop-portal-wlr
